.basket {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  overflow: hidden;
  left: 0;
  margin-top: 5px;
  width: 100%;
}

@media (min-width: 768px) {
  .basket {
    left: calc(100% - 500px);
    top: 60px;
    width: 250px;
  }
}
